/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul {
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
img {
  vertical-align: middle;
}
/* General STYLE */
:root {

    --color1:rgb(81, 117, 255);
    --color1b:rgba(81, 117, 255, 15.2%);
    --color1c:rgba(81, 117, 255, 25%);
    --color2:rgb(130, 156, 255);
    --color3:rgb(51, 57, 80);
    --color4: rgb(37, 41, 58);
    --color5:rgb(116, 123, 149);
    --color5b:rgb(116, 123, 149, 50%);
    --color6:rgb(240, 91, 91); 
    --color7:white;
    --color7b:rgba(255,255,255,50%);
    --color8:rgb(250,250,250);

    --shadow1:0 1.563rem 1.563rem -0.625rem rgba(63,91,194,25%);
    --shadow2:0 1.563rem 1.563rem -0.625rem rgba(75,92,191544,75%);

    --sansserif: 'KumbhSans', sans-serif;
}

@font-face {
    font-family: 'KumbhSans';
    src: url('./assets/fonts/KumbhSans-Regular.woff2') format('woff2'),
         url('./assets/fonts/KumbhSans-Regular.woff') format('woff');
    font-weight: 400;
    font-display
}

@font-face {
    font-family: 'KumbhSans';
    src: url('./assets/fonts/KumbhSans-Bold.woff2') format('woff2'),
         url('./assets/fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap; 
}

body.sign-up {
    min-height: 100vh;
}

.bg-side {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 30rem;
    background-color: var(--color4);
    background-image: url("../assets/home/bg-pattern-footer.svg");
    background-repeat: no-repeat;
    background-position: lrgy -30rem top -2rem;
}

